/* Färgkoder enligt Grafiska profil
Mörkröd = #8e412e
Ljusröd = ba6f4d
Mörkare beige = #e6cebc
Ljusgrön = #a2a182
Mörkgrön = #687259
Ljusare beige = #f4ece2
Bakgrundfärg = #f5efe7
*/

* {
    /* eller… box-sizing: content-box; */
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-padding-top: 1.25rem;
    scroll-behavior: smooth; 

    /* border: 2px solid orange; (Används bara för att urskilja var elementen/sektionerna/boxarna är)*/ 
    
}

body{
    background-color: #f5efe7;
}

a{
    text-decoration: none;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'sans-serif' , sans-serif;
  line-height: 1.25em;
  color: rgb(67, 66, 66);
}

p {
    font-family: 'sans-serif', sans-serif;
    line-height: 1.35em;
    font-size: 1em;
    margin: 15px 0 30px;
    color: rgb(67, 66, 66);
}

/*---------------------------Ny nav i headern-------------------------------------*/

nav {                /* Dimentioner på navbar */
    max-width: 100%;
    height: auto;
}

.logo{                /* Om vi ska ha logga som hemknapp */
    width: 30px;
}

nav ul{                 /* Dekor runt listan */
    list-style: none;
    background-color: #687259;
}

nav ul li{               /* Dekor runt objekt i listan */
    display: inline-block;
    position: relative;
}

nav ul li a{              /* Dekor på a länk */
    display: block;
    padding: 20px 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

nav ul li a:hover{         /* Dekor vid hovring */
    color: #e6cebc8a;
}

nav ul li:hover ul.dropdown{    /* Visning av rullgardin */
    display: block;
}

nav ul.dropdown{              /* Rullgardinen */
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
} 

/* ------------------- Hero section i body! ---------------------- */  

/* Eftersom jag inte vet hur det ska se ut så la jag tillfälliga mått och färger så man ser formen på sektionen*/

.hero{
    height: 95vh;     /* Täcka "helskärm" eller en ruta? */
    width: 100%;
    display: flex;
    align-items: center;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.412)), url(suitcase.jpg);
    background-size: cover;
    color: #e6cebc;
    box-sizing: border-box;
}
.hero content{
    max-width: 100%;
    

}
.hero h1{               /* Stor rubrik */
    line-height: 1.5em;
    margin: 0 8px;
    padding: 10px;
    font-size: x-large;
}

.hero h3{              /* Mindre rubrik */
    line-height: 2em;
    margin: 18px;
    padding: 6px;
    font-size: medium;
    text-align: left;
}

.hero p{                 /* Brödtext */
    line-height: 1.35em;
    font-size: 1em;
    margin: 8px;
    padding: 6px;
}

/*--------------------------Knappar-------------------------*/


.btn{                   /* Placering av knappar */
    text-align: start;
    padding: 10px;
}

.btn a{                /* Dekor till knappar */
    display: inline-block;   
    background-color: #e6cebc;
    color: #8e412e;
    padding: 16px; 
    margin: 16px;
    border-radius: 25px; 
}

.btn a:hover {        /* Dekor vid hovring */
    background-color: #a2a182;
    transition: 0.35s;
}
/*--------------------------Kontakt---------------------------*/
main {
  margin: auto;
  text-align: center;
}

.contact {
  padding: 20px;
  padding-bottom: 2px;
  margin: 10px;
  color:#000000a9;
}

.followusbtn {
text-align: center;
}

.followusbtn img {
vertical-align: bottom;
}

.collapsebackground {
background-color: #f1dbcd;
padding-bottom: 10px;
}
/*----------------------------Collapse------------------------*/
.accordion > input[type="checkbox"]{
  position: fixed;
}

.accordion .content{
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
  font-family: sans-serif;
  font-size: 15px;
  color: #e6cebc;
  background-color: #8e412e;
  max-width: 586px;
  margin: auto;
  display: block;
}

.accordion > input[type="checkbox"]:checked ~ .content{
  height: auto;
  overflow: visible;
}

.accordion label{
  display: block;
}

.accordion{
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content{
  padding:15px;
  border-top: 2px solid #e6cebc;
}

.accordion .question{
  max-width: 615px;
  font-size: 15px;
  line-height: 20px;
  font-family: sans-serif;
  margin: auto;
  display: block;
}

.accordion label{
  color: #e6cebc;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #8e412e;
}

.accordion label:hover,
.accordion label:focus{
  background: #a2a182;
}


/*---------------------Olika sections för produktsidan---------------------------------*/

#section { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

#Sittmobler {
  background-color: #f4ece2;
}

#Dekoration {
  background-color: #a2a182;
}

#Sangramar {
  background-color: #f4ece2;
}

#Ovrigt {
  background-color: #a2a182;
}

/*-------------------Section category-container------------------------*/

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  background-color: #ffff;
  padding: 20px 20px;
}

.category-box {
  width: 100px;
  background-color: #ffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  margin: 30px;
  border-radius: 5px;
}

.category-box img {
  margin: 10px;
  margin-left: 30px;
  align-items: center;
}

.category-box .category-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/*-----------------------Section product-container-----------------------*/

.product-container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  margin: 30px 0px;
  background: #ffff;
  padding: 0 20px;
}

.product-box {
  width: 250px;
  height: 350px;
  background: #ffff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  margin: 15px;
  margin-bottom: 80px;
  border-radius: 5px;
}

.product-box img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-box .product-text {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
  


  /*-------------------------------Footer----------------------------------*/
footer{
    background-color: #687259;
    color: #a2a182;
    padding: 20px;
    font-family: 'sans-serif', sans-serif;
    line-height: 1.35em;
    font-size: 1em;
    margin: 15px 0 30px;
    display: flex;
  }

  .navfooter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .navfooter li a{
    display: block;
    color: #A2A182;
    font-size: 1em;
    font-weight: 1;
  }

  .navfooter li a:hover{
    color:#f4ece2;
    text-decoration: underline;
  }

  .icons{
    display: flex;
    justify-content: flex-end;
    padding:5px;
  }

  .menyfooter{
    justify-content: center;
    margin-left: 6%;
  }

  footer h4{
    margin-bottom: 20px;
  }


/* ID OCH KLASSNAMN I ALLA SIDOR!

INDEX:
section class="hero"
div class="btn"
section class="miljo"
div class="miljo-atervinning"
div class="miljo-konsumtion"
div class="miljo-lokal"
section class="preview-products"
div class="preview-products img"
div class="btn"
section class="preview-about">
img src class="miljo logo"

ABOUT:
section class="vision"
section class="blogpost"
span class="bold"
div class="btn"

PRODUKTER:
section id="Sittmöbler"
section id="Dekorationer"
section id="Dekorationer">

KONTAKT:
img src= class="iglogo"
img src= class="fblogo"
section class="faq"
section class="accordion"
input type="checkbox" name="collapse" id="question(1-10)
h2 class="question"
div class="content"

*/

/*----------------gamla hero i header----------------*/
/* 
.head {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
}

.header-content {
    max-width: 100%;
}

.header-content h1 {
    color: # ;
    font-size: 40px;
    padding-bottom: 5px;
    width: 700px;
}

.header-content h3{
    font-size: 20px;
    padding-bottom: 5px;
    color: green ;
}

.header-content p{
    color: black;
    width: 550px;
}

.header-knapp {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 8px 25px;
    background: # ;
    border: 2px solid # ;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 6) 0px 0px 50px -5px; /* Behöver fixas… 
    font-size: 16px;
    color: # ;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .2s;
}

.header-knapp:hover {
    background: # ;
    color: # ;
    border: 2px solid # ;
} */



/*-----------------------------Jolin Nav 2--------------------------------------*/


/*

nav {             
  max-width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.logo{               
  width: 540px;
  position: relative;
  align-content: left;
  padding-left: 8%;
  background-color: #ffffff;
  padding-top: 2%;
}

nav ul{               
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 8%;
  padding-bottom: 3.3%;
  padding-top: 2.4%;

  background-color: #ffffff;
}

nav ul li{              
  display: inline-block;
  position: relative;
}

nav ul li a{             
  display: flex;
  padding: 20px 25px;
  color: #687259;
  text-align: center;
  font-size: 20px;
}

nav ul li a:hover{        
  color: #a2a182;
}

nav ul li:hover ul.dropdown{    
  display: block;
}

nav ul.dropdown{            
  position: absolute;
  z-index: 1;
  display: none;
  text-align: left;
} 

*/
/*-----------------------------Jolin Hero 2--------------------------------------*/

/* 

.hero2{
    height: 120vh; 
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -8%;
    background-image:linear-gradient(45deg, rgba(0, 0, 0, 0.882) 25%, rgba(0, 0, 0, 0)), url(images/Produktbilder/Sofa.png);
    background-size: cover;
    color: #e6cebc;
    box-sizing: border-box;
} 

.hero-content2{
    max-width: 100%;
    padding-left: 5%;

}


.hero2 h2 {
    font-size: 5rem;
    margin-bottom: 5%;
}

.hero2 h3 {
    font-size: 1.3rem;
    margin-bottom: 5%;
}


.button-dark {
    display: inline-block;   
    background-color: #687259;
    color: #e6cebc;
    padding: 16px 40px 16px 40px;
    margin-right: 5%;
    border-radius: 25px; 
}
.button-dark:hover {
    text-align: start;
    display: inline-block;   
    background-color: #e6cebc;
    color: #687259;
    padding: 16px 40px 16px 40px;
    border-radius: 25px; 
}

.button-light {
    display: inline-block;   
    background-color: #e6cebc;
    color: #687259;
    padding: 16px 40px 16px 40px;
    border-radius: 25px; 
}

.button-light:hover {
    text-align: start;
    display: inline-block;   
    background-color: #687259;
    color: #e6cebc;
    padding: 16px 40px 16px 40px;
    border-radius: 25px; 
}
*/


.vision {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 9% 6% 9% 6%;
}

.vision h2 {
  font-size: 4rem;
}

.vision h3{
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 2%;
  color: #687259;
}

/* Sektion - Blogg preview */

#blog { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 7.5% 0%;
}
/*     background: #dbd0c7; */

#blog h3 {
  font-size: 2.8em;
  padding-bottom: 3%;
}

#blog h5 {
  font-size: 1.5em;
  color: #687259;
  margin-bottom: 0.8%;
}

.blog-container { /* Blogg container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  background: #ffffff;
}

.blog-box {
  width: 350px;
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.092);
  margin: 40px;
}

.blog-box img {
  width: 100%;
}

.blog-box .blog-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-text .blog-title {
  font-size: 1.15rem;
  color: #272727;
}

.blog-text .blog-title:hover {
  color: #8e412e;
  transition: all ease 0.2s;
}

.blog-text p{
  color: #7b7b7b;
  font-size: 0.9rem;
  overflow: hidden;
  margin: 20px 0px;
}

.blog-text a {
  color: #0f0f0f;
}

.blog-text a:hover {
  color: #8e412e;
  transition: all ease 0.3s;
}