/* Färgkoder enligt Grafiska profil
Mörkröd = #8e412e
Ljusröd = ba6f4d
Mörkare beige = #e6cebc
Ljusgrön = #a2a182
Mörkgrön = #687259
Ljusare beige = #f4ece2
Bakgrundfärg = #f5efe7
*/
/* ----------------------- Hemsidans grund ------------------ */
* {
  box-sizing: content-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-padding-top: 1.25rem;
  scroll-behavior: smooth;     
}

body {
    background-color: #f5efe7;
}

main {
  margin: auto;
  text-align: center;
}

a {
    text-decoration: none;
    font-weight: 600;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'sans-serif' , sans-serif;
  line-height: 1.25em;
  color: rgb(67, 66, 66);
}

p {
    font-family: 'sans-serif', sans-serif;
    line-height: 1.35em;
    font-size: 1em;
    margin: 15px 0 30px;
    color: rgb(67, 66, 66);
}

/*--------------------------- Primary Navigation (Meny i Hero) ----------------------------------*/

nav {                /* Dimentioner på navbar */
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo {                /* Om vi ska ha logga som hemknapp */
  width: 550px;
  position: relative;
  align-content: left;
  padding-left: 8%;
  padding-top: 2%;
  background-color: white;
}

nav ul {                 /* Dekor runt listan */
  list-style: none;
  background-color: #687259;
  width: 100%;
  text-align: right;
  padding-top: 2.7%;
  padding-bottom: 3.4%;
  padding-right: 8%;
  background-color: white;
}

nav ul li {               /* Dekor runt objekt i listan */
    display: inline-block;
    position: relative;
}

nav ul li a {              /* Dekor på a länk */
    display: flex;
    padding: 20px 25px;
    color: #687259;
    text-align: center;
    font-size: 20px;
}

nav ul li a:hover {         /* Dekor vid hovring */
    color: #a2a182ad;
}

/* --------------------------- Secondary Navigation (Dropdown) ----------------- */

nav ul li:hover ul.dropdown {    /* Visning av rullgardin */
    display: block;
}

nav ul.dropdown {              /* Rullgardinen */
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    text-align: left;
} 

/* ------------------- Hero section i body! ---------------------- */  

.hero {
    height: 120vh;     
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -8%;
    max-width: 100%;
    background-size: cover;
    color: #e6cebc;
    box-sizing: border-box;
}

.hero-content {
    max-width: 100%;
    padding-left: 10%;
}

.hero h1 {               /* Sidans huvudrubrik */
  font-size: 5rem;
  margin-bottom: 2%;
  color: #f4ece2;
}

.hero h2 {               /* Stor rubrik */
  font-size: 5rem;
  margin-bottom: 2%;
  color: #f4ece2;
}

.hero h3 {              /* Mindre rubrik */
    line-height: 2em;
    color: #f4ece2;
    margin: 18px;
    padding: 6px;
    font-size: medium;
    text-align: left;
}

.hero p {                 /* Brödtext */
    line-height: 1.35em;
    color: #f4ece2;
    font-size: 1em;
    margin: 8px;
    padding: 6px;
}

/*--------------------------Knappar-------------------------*/

.button-green-dark { /* Mörkgrön knappar med beige hovring */
  display: inline-block;   
  background-color: #687259;
  color: #e6cebc;
  padding: 16px 40px 16px 40px;
  margin-right: 5%;
  border-radius: 25px; 
  transition: all ease 0.2s;
}
.button-green-dark:hover {
  text-align: start;
  display: inline-block;   
  background-color: #e6cebc;
  color: #687259;
  padding: 16px 40px 16px 40px;
  border-radius: 25px; 
}

.button-green-light { /* Ljusgrön knappar med beige hovring */
  display: inline-block;   
  background-color: #e6cebc;
  color: #687259;
  padding: 16px 40px 16px 40px;
  border-radius: 25px; 
  transition: all ease 0.2s;
}

.button-green-light:hover {
  text-align: start;
  display: inline-block;   
  background-color: #687259;
  color: #e6cebc;
  padding: 16px 40px 16px 40px;
  border-radius: 25px; 
}

.button-red-dark { /* Mörkröd knappar med beige hovring */
  display: inline-block;   
  background-color: #8e412e;
  color: #e6cebc;
  padding: 16px 40px 16px 40px;
  margin-right: 5%;
  border-radius: 25px;
  transition: all ease 0.2s;
}
.button-red-dark:hover {
  text-align: start;
  display: inline-block;   
  background-color: #e6cebc;
  color: #8e412e;
  padding: 16px 40px 16px 40px;
  border-radius: 25px; 
}

.button-red-light { /* Ljusröd knappar med beige hovring */
  display: inline-block;   
  background-color: #e6cebc;
  color: #8e412e;
  padding: 16px 40px 16px 40px;
  border-radius: 25px; 
  transition: all ease 0.2s;
}

.button-red-light:hover {
  text-align: start;
  display: inline-block;   
  background-color: #8e412e;
  color: #e6cebc;
  padding: 16px 40px 16px 40px;
  border-radius: 25px; 
}

/*--------------------------Kontakt---------------------------*/
/*placering av kontaktsida*/
.contactpage {    
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}

.contact {
  padding: 40px;
  padding-bottom: 2px;
  margin: 10px;
  color:#000000a9;
}

/*storlek rubriker*/
.contact h2 {
  font-size: 2.8rem;
  padding: 30px;
}

.followusbtn .button-red-light {
text-align: center;
}

.followusbtn {
  margin: 20px 15px 70px 15px;
}

.followusbtn a {
  color: inherit;
}

.followusbtn a:hover {
  color: inherit;
}

.followusbtn img {
vertical-align: bottom;
}

.collapsebackground {
background-color: #f4ece2;
padding-bottom: 50px;
}
/*----------------------------Collapse------------------------*/
.accordion > input[type="checkbox"] {
  position: fixed;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
  font-family: sans-serif;
  font-size: 15px;
  color: #e6cebc;
  background-color: #a2a182;
  max-width: 586px;
  margin: auto;
  display: block;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
  padding-top: 3px;
  border-radius:25px;
  padding:15px;
  border-top: 2px solid #f5efe7;
  transition: 0.35s;
}

.accordion label{
  display: block;
  border-radius: 25px;
}

.accordion{
  margin-bottom: 1em;
}

.accordion .content p {
  color: #e6cebc;
}

.accordion .question {
  max-width: 615px;
  font-size: 15px;
  line-height: 20px;
  font-family: sans-serif;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.accordion label {
  color: #e6cebc;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #8e412e;
}


.accordion label:hover {
  background: #a2a182;
  transition: 0.35s;
}

/*----------------------------About--------------------------*/

.vision {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  flex-direction: column;                                                                                                                                                                                                  
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 9% 6% 9% 6%;
}

.vision h2 {
  font-size: 4rem;
}

.vision h3{
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 2%;
  color: #687259;
}

/* Sektion - Blogg preview */

#blog { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 7.5% 0%;
}
/*     background: #dbd0c7; */

#blog h3 {
  font-size: 2.8em;
  padding-bottom: 3%;
}

#blog h5 {
  font-size: 1.5em;
  color: #687259;
  margin-bottom: 0.8%;
}

.blog-container { /* Blogg container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  background: #ffffff;
}

.blog-box {
  width: 350px;
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.092);
  margin: 40px;
}

.blog-box img {
  width: 100%;
}

.blog-box .blog-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-text .blog-title {
  font-size: 1.15rem;
  color: #272727;
}

.blog-text .blog-title:hover {
  color: #8e412e;
  transition: all ease 0.2s;
}

.blog-text p{
  color: #7b7b7b;
  font-size: 0.9rem;
  overflow: hidden;
  margin: 20px 0px;
}

.blog-text a {
  color: #0f0f0f;
}

.blog-text a:hover {
  color: #8e412e;
  transition: all ease 0.3s;
}

/*----------------------------Blog-------------------------*/
/* Bloggen */

.hero-content-blog {
  margin-left: 100px;
  width: 50%;
}

.hero-content-blog h2{
  margin-bottom: 6.5%;
}

.bloggposts {
  padding: 4% 0% 8% 0%;
  display: flex;
  width: 71%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.content-box {
  background-color: #ffffff;
  padding: 4% 11% 7% 11%;
  margin: -170px 0px 100px 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.062);
}

.content-box ul li {
  margin: 22px 35px;
}

.content-box h3 {
  padding: 5% 0% 0% 0%;
  font-size: 2.2rem;
}

.bloggposts .content-box .datum {
  font-size: 14px;
  font-style: italic;
  color: #7b7b7bc5;
  letter-spacing: 0.8px;
  padding-bottom: 4%;
}


/*------------------------- Produkter ------------------------------*/

/*---------------------- Section category-container -----------------------*/

.product-categories {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 100px   0px;
}

.product-categories h3{
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}
.product-categories h2{
  width: 75%;
  font-size: 40px;
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffff;
  width: 65%;
  margin: 0 auto;
  padding: 60px 0px 40px 0px;
}

.category-box {
  width: 100px;
  background-color: #ffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px;
  margin:15px;
}

.category-box img {
  align-items: center;
  padding-bottom: 22px;
}

/*-----------------------Section product-container-----------------------*/

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background: #f5efe7;
  margin: 20px 0px;
}

.product-container h2 {
  display: flex;
  font-size: 30px;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  padding: 85px 0px 30px 0px;
}

.product-container h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  padding: 10px 0px;
}

.product-container p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.product-box-display {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
}

.product-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  padding: 20px 0px;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  background: #ffff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  margin: 40px 15px 80px 15px;
  border-radius: 5px;
}

.product-box h4 {
  font-size: 15px;
  letter-spacing: 0.6px;
  padding: 20px 0px 0px 0px;
  text-transform: versaler;
  text-transform: uppercase;
}

.product-box p {
  font-style: italic;
}

.product-box img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.to-top {
  display: inline-block;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
  margin: auto 0;
  background-color: #ffffff;
}
/*----------------------------------- Footer -------------------------------------*/
footer {
    background-color: #687259;
    color: #a2a182;
    padding: 20px;
    font-family: 'sans-serif', sans-serif;
    line-height: 1.35em;
    font-size: 1em;
   /* margin: 15px 0 30px;  */
    display: flex;
}

footer p {
  color: #a2a182;
}

footer h4 {
  color: #a2a182;
}

.navfooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.navfooter li a {
    display: block;
    color: #A2A182;
    font-size: 1em;
    font-weight: 1;
}

.navfooter li a:hover {
    color:#f4ece2;
    text-decoration: underline;
}

  .icons {
    display: flex;
    justify-content: flex-end;
    padding:5px;
  }

  .menyfooter {
    justify-content: center;
    margin-left: 6%;
  }

  footer h4 {
    margin-bottom: 20px;
  }

/*---------------------------------index------------------------------------*/
.homepage {
  min-height: 85vh;
  margin: 3% 5%;
}

.homepagebox {
  width: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4%;
}
@media (min-width: 850px) {
  .homepagebox{
    flex-direction: row;}
}

.homepage-box {
  padding-top: 1%;
}
.homepage h3 {
  padding: 10px;
}
.homepage-box p {
  padding: 4%;
}
.homepage-icon {
  width: 60px;
  padding: 10px;
}
/*-------------------------------------------*/
.preview-products {
  height: fit-content;
  padding-bottom: 3%;
  background-color: #ffff;
  margin: 3%;
}

.preview-products ul {
  padding: 0 2% 2% 2%;
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-direction: column;
}
@media (min-width: 850px) {
  .preview-products ul{
    flex-direction: row;}
}

.preview-products li {
  padding: 0.25%; 
}

/*----------------------------------------------*/
.preview-about {
  margin: 5%;
  padding: 4% 20%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.preview-about p {
  padding: 5%;
}
